@import url("estilo/reset.css");
@import url("estilo/depoimentos.css");


:root {
    --fonte-principal: "Poppins";
    --cor-branco-principal: #ffffff;
    --cor-de-fundo: #f4f0f0;
    --cor-cinza-escuro: #332e29;
    --cor-primaria: #6e6e6e;
    --cor-secundaria: #a9d15c;
}

.cabecalho,
.container {
    font-family: var(--fonte-principal);
}

.texto__titulo,
.texto__descricao,
.botao,
.lista__informacoes,
.item__titulo,
.item__texto,
.depoimentos__titulo {
    text-align: center;
}

.principal__texto,
.botao {
    border-radius: 0.5em;
}

.lista__informacoes,
.depoimentos__titulo {
    text-transform: uppercase;
}


.cabecalho {
    padding: 1em 0.5em;
    background-color: var(--cor-primaria);

}

.menus__lista {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 0.6875rem;
}

.menus__item a {
    text-decoration: none;
    color: var(--cor-branco-principal)
}


.principal__planodefundo {
    background-image: url("/img/criancas_brincando.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.container {
    height: 50vh;
    width: 100vw;
    background-color: var(--cor-de-fundo);
}

.principal {
    display: grid;
    grid-template-rows: 50% 50%;
    color: var(--cor-branco-principal);
    background-color: var(--cor-de-fundo);

}

.principal__texto {
    padding: 0.5em;
    margin: 1em 0.5em;
    background-color: var(--cor-secundaria);
}

.texto__titulo {
    font-size: 1.125rem;
    font-weight: 600;
    margin: 0.5em 0.5em;
}

.texto__descricao {
    font-size: 0.75rem;
    font-weight: 400;
}

.botao {
    display: flex;
    padding: 0.5em 0em;
    margin: 1em;
    justify-content: center;
    background-color: var(--cor-branco-principal);
    text-decoration: none;
    font-size: 0.875rem;
    color: var(--cor-cinza-escuro);
    width: 30%;
    float: right;
}

.botao a {
    padding: 0.5em 0em;
    margin: 1em;
}

.depoimentos {
    color: var(--cor-cinza-escuro)
}


.lista__informacoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1em;
}

.lista__informacoes__item {
    margin: 0.5em;
    font-weight: 700;
}

.item__titulo {
    margin-top: 0.5em;
    font-size: 1.875rem;
}

.item__texto {
    font-size: 1rem;
    margin: 0.5em 0;
}

.depoimentos__titulo {
    font-size: 1.5rem;
    font-weight: 700;

}


@media screen and (min-width: 1024px) {

    .cabecalho,
    .botao,
    .lista__informacoes__item {
        padding: 1em;
    }

    .botao,
    .lista__informacoes__item {
        margin: 1em;
    }

    .menus__lista {
        font-size: 1.125rem;
    }

    .principal__planodefundo {
        display: none;
    }

    .container {
        height: 45vh;
        width: 100vw;
        background-color: var(--cor-de-fundo);
    }

    .principal {
        grid-template-rows: none;
        grid-template-columns: 60% 40%;
        background-image: url("/img/criancas_brincando.jpg");
        background-size: cover;
    }

    .principal__texto {
        grid-column: 2;
        background-color: transparent;
        margin-top: 7em;
        margin-right: 1em;
    }

    .texto__titulo {
        font-size: 1.875rem;
    }

    .texto__descricao {
        font-size: 1.175rem;
    }

    .botao {
        display: flex;
        justify-content: center;
        font-size: 1.175rem;
        font-weight: 600;
        width: 40%;
    }

    .lista__informacoes {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .lista__informacoes__item {
        font-weight: 700;
    }

    .item__titulo {
        font-size: 4rem;
    }

    .item__texto {
        font-size: 2.75rem;
        margin: 1em 0;
    }

    .depoimentos__titulo {
        font-size: 2.75rem;
        font-weight: 700;
    }
}

@media screen and (min-width: 1300px) {

    .cabecalho,
    .botao,
    .lista__informacoes__item {
        padding: 1em;
    }

    .botao,
    .lista__informacoes {
        margin: 1em;
    }

    .container {
        height: 90vh;
        width: 100vw;
        background-color: var(--cor-de-fundo);
    }

    .principal {
        grid-template-rows: none;
        grid-template-columns: 60% 40%;
        background-image: url("/img/criancas_brincando.jpg");
        background-size: cover;
    }

    .principal__texto {
        grid-column: 2;
        background-color: transparent;
        margin-top: 7em;
    }

    .texto__titulo {
        font-size: 2.5rem;
    }

    .texto__descricao {
        font-size: 1.275rem;
    }

    .botao {
        display: flex;
        justify-content: center;
        font-size: 1.175rem;
        font-weight: 600;
        width: 40%;
    }

    .lista__informacoes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 0;
    }

    .lista__informacoes__item {
        font-weight: 700;
    }

    .item__titulo {
        font-size: 5rem;
    }

    .item__texto {
        margin-top: 0.5em;
        font-size: 3rem;
    }

    .depoimentos__titulo {
        font-size: 4rem;
        font-weight: 700;
    }
}



@media screen and (min-width: 1440px) {

    .botao,
    .lista__informacoes__item {
        margin: 1.5em;
    }

    .cabecalho {
        padding: 1em;
    }

    .menus__lista {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 1.275rem;
    }

    .container {
        height: 80vh;
        width: 100vw;
        background-color: var(--cor-de-fundo);
    }

    .principal {
        grid-template-rows: none;
        grid-template-columns: 60% 40%;
        background-image: url("/img/criancas_brincando.jpg");
        background-size: cover;
    }

    .principal__texto {
        grid-column: 2;
        background-color: transparent;
        margin-top: 12em;
        margin-right: 1em;
    }

    .texto__titulo {
        font-size: 2.5rem;
    }

    .texto__descricao {
        font-size: 1.75rem;
    }

    .botao {
        display: flex;
        justify-content: center;
        font-size: 1.175rem;
        font-weight: 600;
        width: 40%;
    }

    .lista__informacoes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 2em;
    }

    .lista__informacoes__item {
        font-weight: 700;
    }

    .item__titulo {
        font-size: 7rem;
    }

    .item__texto {
        font-size: 4rem;
        margin: 1em 0;
    }

    .depoimentos__titulo {
        font-size: 5rem;
        font-weight: 700;
    }

}