body{
    font-family: var(--fonte-principal);
}

h1{
    font-size:xx-large;
    margin-bottom: 2vw;
}

h3{
    font-size: x-large;
}

.ctt{
    margin: 0.75vw;
    padding: 0.75vw;
    background-color: var(--cor-de-fundo);
    border-radius: 10%;
}

.ctt_txt{
    margin-bottom: 2vw; 
}

.ctt_img{
    justify-content: space-evenly;
}

img{
    width: 5vw;
    margin-left: 5vw;
}

.rodape {
    width: 100vw;
    height: 1.3em;
    margin-top: 5em;
    font-size: 0.75rem;
    background-color: var(--cor-primaria);
    color: var(--cor-branco-principal);
    font-weight: 300;
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}