.body-ctt {
    font-family: var(--fonte-principal);
    background-color: var(--cor-de-fundo);
    color: var(--cor-cinza-escuro);
}

.ctt-titulo {
    font-size: 1.5rem;
    margin: 0.5em 0;
    font-weight: 600;
}

.ctt-titulo2 {
    font-size: 1rem;
    margin-bottom: 0.5em;
    font-weight: 600;
}

.ctt {
    margin: 0.5em;
    padding: 1em;
    background-color: var(--cor-branco-principal);
    border-radius: 10%;
}

.ctt-textinho {
    font-size: 1rem;
    margin-bottom: 1em;
}

.ctt_txt {
    margin-bottom: 2vw;
}

.link__icone__ctt {
    text-decoration: none;
    color: var(--cor-cinza-escuro);
    justify-content: center;


}

.ctt_img {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
}


.ctt-icon {
    width: 2em;
    padding: 0.5em;
}