.depoimentos,
.lista__depoimentos,
.chamada__parceiros {
    background-color: var(--cor-de-fundo);
}

.chamada__parceiros {
    font-size: 0.75rem;
    padding: 1.5em;
    padding-bottom: 3em;
    text-align: center;
}

.depoimentos__item {
    background-color: var(--cor-branco-principal);
    margin: 2em;
    margin-bottom: 0;
    padding: 0.5;
    border-radius: 1em;
    font-size: 0.75rem;

}

.depoimento__pais,
.depoimento__pais__nome,
.depoimento__pais__nomecrianca {
    padding: 1em;
}

.depoimento__pais__nome,
.depoimento__pais__nomecrianca {
    margin-left: 2em;
    padding-top: 0em;
    font-weight: 700;
}

.depoimento__pais__nome {
    padding-bottom: 0em;
}

.titulo__parceiros__prin {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
    padding: 1em;
}