.produtos__body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    display: block;
}

.menus__item__link {
    text-decoration: none;
}

.itemPai {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}


.menus__item__link:hover {
    text-decoration: none;
    color: var(--cor-branco-principal);
}

.quokkinha_img {
    height: 50%;
    width: 50%;

}

.q_strong {
    font-weight: 600;
}

.card {
    margin: 0.5em;
    border-radius: 1em;
    padding: 0.5em;

}

.card-img-top {
    border-radius: 1em;
    margin: 0;
}

.card-body {
    display: block;
    text-align: center;
}

.prod_inicio {
    display: block;
    text-align: center;
}


.titulos {
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 1em 0.5em;
    display: block;
}

.tituloAcessorios {
    font-size: 1.125rem;
    text-align: center;
    font-weight: 600;
}

.x {
    margin: 1.5vw;
    display: flex;
    justify-content: space-evenly;
}

.btn {
    background-color: var(--cor-terciaria);
    color: var(--cor-branco-principal);
    padding: 0.5em;
    margin: 1em 0.5em 0;
    font-size: 0.75rem;
    width: 55%;
}

.btn_quo {
    background-color: var(--cor-terciaria);
    color: var(--cor-branco-principal);
    border-radius: 0.5em;
    padding: 0.5em;
    font-size: 1rem;
    width: 50%;
    text-align: center;
}

.card-text,
.q__texto {
    text-align: center;
    font-size: 0.875rem;
    padding: 1em;

}

.precos {
    text-align: center;
    font-size: 1.25rem;
    padding: 0 0.5em;
}


.diminu {
    padding-left: 5vw;
    padding-right: 5vw;
}

@media screen and (min-width: 768px) {

    .card {
        margin: 1em;
    }

    .titulos {
        font-size: 2rem;
    }

    .btn {
        font-size: 1rem;
    }

    .diminu {
        padding-left: 5vw;
        padding-right: 5vw;
    }
}