.container .mobile {
    background-color: var(--cor-de-fundo);
    width: 100vw;
    height: 100vh;
    text-align: center;
}

.container {
    height: 0vh;
}

.titulo__mobile {
    font-size: 3rem;
    font-weight: 600;
    margin: 1em 0;

}

.retangulo {
    display: none;
}


.texto__mobile {
    font-size: 1.55rem;
    line-height: 1.5em;
    margin: 1.5em 0.5em;
    background-color: var(--cor-de-fundo-2);
    padding: 1.5em;
    border-radius: 1em;

}

#botão__mobile {
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-branco-principal);
    border-radius: 1em;
    border-style: none;
    margin: 1.5em;
    padding: 1.25em;
    background-color: var(--cor-terciaria);



}

.imagem__mobile {
    width: 100%;
    margin-top: 2em;
}

@media screen and (min-width: 700px) {

    /* DEFININDO A TELA PARA PEGAR INTEIRA*/
    .mobile,
    .texto__mobile,
    .titulo__mobile {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .body__cadastro {
        background-color: var(--cor-de-fundo);
        width: 100vw;
        height: 100vh;
    }

    .retangulo {
        display: block;
        background-color: var(--cor-retangulo);
        width: 60em;
        height: 30em;
        margin-top: 10em;
        border-radius: 1em;

    }

    .texto {
        line-height: 1.5em;
        text-align: center;
        position: absolute;
        left: 5em;
        top: 20em;
    }

    #botão {
        letter-spacing: 0.03em;
        border-radius: 0.7em;
        border-style: none;
        width: 17em;
        height: 3em;
        background-color: #F4F0F0;
        position: absolute;
        right: 42em;
        top: 18.5em;
    }

    #imagem {
        width: 40em;
        position: absolute;
        right: 0.5em;
        top: 16.5em;
    }
}

@media screen and (min-width: 1300px) {

    /* DEFININDO A TELA PARA PEGAR INTEIRA*/
    .mobile,
    .texto__mobile,
    .titulo__mobile {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .body__cadastro {
        background-color: var(--cor-de-fundo);
        width: 100vw;
        height: 100vh;
    }

    .retangulo {
        display: block;
        background-color: var(--cor-retangulo);
        width: 80em;
        height: 30em;
        margin-top: 10em;
        border-radius: 1em;

    }

    .texto {
        font-size: 1.5rem;
        line-height: 1.5em;
        text-align: center;
        position: absolute;
        left: 5em;
        top: 15em;
    }

    #botão {
        font-size: 1.25rem;
        font-weight: 600;
        border-style: none;
        width: 17em;
        height: 3em;
        background-color: #F4F0F0;
        position: absolute;
        right: 36em;
        top: 13.5em;
    }

    #imagem {
        width: 40em;
        position: absolute;
        right: 0.5em;
        top: 16.5em;
    }
}