.container {
    width: 100%;
    height: auto;
    background-color: var(--cor-de-fundo);
}

img {
    max-width: 100%;
    height: auto;
}

.sobre_nos_body {
    font-family: var(--fonte-principal);
    line-height: 1.6;
}

h1,
h2,
h3 {
    color: var(--cor-cinza-escuro);
}

h1 {
    font-size: 2.25rem;
    margin-top: 6.25rem;
}

h2 {
    font-size: 1.75rem;
    margin-top: 1.875rem;
}

p {
    margin: 0.625rem 0;
    color: var(--cor-primaria);
}

.founder-section {

    background: var(--cor-de-fundo-2);
    padding: 1.25rem;
    margin-bottom: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: flex-start;
    justify-content: center
}

.founder-section img {
    border-radius: 50%;
    width: 25rem;
    height: 420px;
    object-fit: cover;
    margin-left: 20px;
    margin-top: 60px;
}

.founder-text {
    flex: 1;
    max-width: 50%;
    margin-left: 5%;
    justify-content: center;
    text-align: justify;
}

.area2 {
    background: #fff;
}

.actions-section {
    padding: 2em;
    text-align: center;
}

.actions-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8em;
}

.actions-icons div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.actions-icons img {
    width: 150px;
    height: auto;
    margin-bottom: 0.5em;
}

.actions-icons p {
    margin: 0;
    font-size: 1em;
}

.values-section {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 120px;
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;

}

.values-section div {
    background: var(--cor-de-fundo-2);
    padding: 10px;
    flex: 1 1 10%;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--cor-de-fundo-2);
    height: 35em;
}

.tituloin {
    font-size: 3rem;
    font-weight: 900;
    display: flex;
    justify-content: center;
    margin-left: 5.5%;

}

.textosn {
    flex: 1;
    max-width: 60%;
    font-size: 20px;
    line-height: 1.6;
    max-width: 50%;
    text-indent: .5em;
    text-align: justify;
}

.tituloa2 {
    font-size: 3rem;
    font-weight: 900;
    flex: 1;
    justify-content: center;
    max-width: 50%;
    margin-left: 35%;
}

.videozinho {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 5%;
    border: none;
    padding: 0;
    box-shadow: none;
    justify-content: center;
}

iframe {
    border: none;
    outline: none;
    box-shadow: none;
}

.titulosb3 {
    font-size: 3rem;
    font-weight: 900;
    margin-top: 30px;
    margin-left: -2%;
    margin-bottom: 5%;
}

.sbp {
    font-weight: 700;
}

.textofn {
    margin-left: 20%;
    flex: 1;
    max-width: 60%;
    font-size: 20px;
    line-height: 1.6;
    text-indent: 0.5em;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    text-align: justify;

}

.tituloa3 {
    font-size: 3rem;
    font-weight: 900;
    flex: 1;
    max-width: 50%;
    margin-top: 15%;
    margin-left: 30%;
    margin-bottom: 2%;
}

.textohs {
    font-size: 20px;
    line-height: 1.6;
    text-indent: .5em;
    max-width: 75%;
    margin-left: 1%;
    justify-content: center;
    text-align: justify;
}

.textocmc {
    padding: 0.5em;
    margin: 1em 0.5em;
    margin-bottom: 0em;
    background-color: var(--cor-principal);
    justify-content: center
}